<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unbundl</title>
    <link rel="stylesheet" href="/css/main.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/respMain.css" media="all" type="text/css">
    <link rel="stylesheet" href="/fontAwesome/css/all.min.css" media="all" type="text/css">
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css"/>
</head>
<body>
    <div class="main-div">
        <nav>
            <div class="icon-div">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo-div">
                <img src="https://unbundl.com/wp-content/uploads/2022/10/nav-logo-1.svg" alt="">
            </div>
            <div class="icon-div">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
        </nav>
            <div class="craousel-div">
                <img src="/img/Bed-covers-Mobile-Banner.webp" alt="">
                <img src="/img/Cushion-covers-Desktop-banner_2.webp" alt="">
                <img src="/img/Doormat-Mobile-Banner (1).jpg" alt="">
                <img src="/img/Doormat-Mobile-Banner.jpg" alt="">
            </div>
        <div class="chocolate-div">
            <div class="heading-div">
                <span class="message">You already added 8 different chocolate.</span>
                <h1>Pick Your Chocolate for your Customizable Chocolate Gift Pack.</h1>
                <p>You can choose upto 8 different chocolate for your gift pack in any quantity.</p>
                <h1 class="total"></h1>
            </div>
            <div class="choco-div">
                <div class="card-div">   
                    <img data-lazy="/img/photo-1545015451-f05567aa6bcc.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Chocolate Balls</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name="" class="quantity1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="300" class="price1">
                        <h3 class="price1">Price: 300Rs</h3>
                        <button class="button1">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1582176604856-e824b4736522.avif" alt="">
                    <div class="info-div">  
                        <h3>Chocolate: Heart Shape Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="400" class="price2">
                        <h3 class="price2">Price: 400Rs</h3>
                        <button class="button2">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1606312619070-d48b4c652a52.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Dry-Fruit Chocolate</h3>
                        <div class="quantity-div" >
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="100" class="price3">
                        <h3 class="price3">Price: 100Rs</h3>
                        <button class="button3">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1606313564200-e75d5e30476c.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Chocolate Cake</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity4">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="250" class="price4">
                        <h3 class="price4">Price: 250Rs</h3>
                        <button class="button4">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1610450949065-1f2841536c88.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Special Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity5">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="100" class="price5">
                        <h3 class="price5">Price: 100Rs</h3>
                        <button class="button5">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1623000850264-08be785877bd.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Customized Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity6">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="300" class="price6">
                        <h3 class="price6">Price: 300Rs</h3>
                        <button class="button6">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1627647227768-705244233b56.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Caramel Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity7">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="200" class="price7">
                        <h3 class="price7">Price: 200Rs</h3>
                        <button class="button7">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/photo-1638194645412-1d0b4c53ffed.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Raw & Dark Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity8">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="400" class="price8">
                        <h3 class="price8">Price: 400Rs</h3>
                        <button class="button8">Add</button>
                    </div>
                </div>
                <div class="card-div">
                    <img data-lazy="/img/premium_photo-1667031518909-091d6b8d9403.avif" alt="">
                    <div class="info-div">
                        <h3>Chocolate: Furit Chocolate</h3>
                        <div class="quantity-div">
                            <label for="">Quantity:</label>
                            <select name=""   class="quantity9">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <input type="hidden" value="500" class="price9">
                        <h3 class="price9">Price: 500Rs</h3>
                        <button class="button9">Add</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/JQuery/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/slick-1.8.1/slick/slick.min.js"></script>
    <script src="/js/project.js"></script>
</body>
</html>